@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Lora", serif; 
  overflow-x: hidden;
}

.circle{
  width:100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.custom-loader .MuiCircularProgress-circle {
  stroke: #D7A86E !important;
}

.circle h2{
  margin-left: 10px;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.buynow_section {
  flex: 1;
}